<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="i.HuanPin">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:icon="@drawable/i2"
        android:label="HuanPin"
        android:theme="@style/Theme.AppCompat.Light"
        android:usesCleartextTraffic="true">
        <activity android:name="ac">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ac2"/>
        <activity android:name="ac3"/>
        <activity android:name="ac4"/>
        <activity android:name="ac5"/>
        <activity android:name="ac6"/>
        <activity android:name="ac7"/>
        <activity android:name="ac8"/>
        <activity android:name="ac9"/>
        <activity android:name="ac10"/>
        <activity android:name="ac11"/>
        <activity android:name="ac12"/>
        <activity android:name="ac13"/>
        <activity android:name="ac14"/>
        <activity android:name="ac15"/>
        <activity android:name="ac16"/>
    </application>
</manifest>